[Service]
ExecStartPre=/bin/sh -euc "if [ -f /sys/fs/cgroup/cgroup.controllers ]; then /prepare-cgroups-v2.sh; fi"
ExecStart=/bin/sh -c "/usr/bin/journalctl -f | grep -v kernel:"
ExecStopPost=/usr/bin/systemctl exit 1
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
